# Jupyterlab + extensions
jupyterlab
jupyterlab-iframe
jupyter-resource-usage
# datacube + odc ecosystem
datacube[performance,distributed,s3]<1.9
datacube-ows==1.8.42
eodatasets3
odc-apps-dc-tools
odc-cloud[ASYNC]
odc-dscache
odc-geo
odc-stats
geopandas[all]
# Linting
ruff