# Jupyterlab + extensions
jupyterlab
jupyterlab-iframe
jupyter-resource-usage
# datacube + odc ecosystem
datacube[performance,distributed,s3]>=1.9.0
datacube-ows>=1.9.10
eodatasets3
odc-apps-dc-tools
odc-cloud[ASYNC]
odc-dscache
odc-geo
odc-stats>=1.9.6
# Linting
ruff